:root {
  --primary-color: #0568da;
  --paper-color: rgb(255, 255, 255);
  --text-color: rgb(18, 18, 18);
  --button-color: rgb(200, 200, 200);
  --border-color: rgb(100, 100, 100);
}

[data-theme='dark'] {
  --primary-color: #0568da;
  --paper-color: rgb(18, 18, 18);
  --text-color: rgb(255, 255, 255);
  --button-color: rgb(120, 120, 120);
  --border-color: rgb(60, 60, 60);
}

body {
  margin: 0px;
  height: 100vh;
}

div#root {
  height: 100%;
}

div.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* 게임보드 */
div.gameBoardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

div.gameBoard {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 4px;

  width: 380px;
  height: 380px;
}

div.gameBoardRow {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 4px;
}

div.gameBoardBox {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  font-weight: bold;
  font-size: 2em;
  color: var(--text-color);

  border: 2px solid;
  border-color: var(--border-color);
}

div.gameBoardBox.emptyBox {
  background-color: var(--border-color);
}

/* 박스 왼쪽 위에 box.indexes 를 표시하는 div 생성 */
div.gameBoardBox .boxIndex {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 1px;
  padding-right: 1px;
  font-size: 0.4em;
  color: var(--text-color);
}

/* 키보드 */
div.keyboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  margin-bottom: 4px;
}

div.keyboardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

div.spacer {
  flex: 0.5;
}

div.keyButton {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 60px;
  line-height: 60px;
  margin: 3px;

  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.35em;

  background-color: var(--button-color);
  color: var(--text-color);
}

div.emptyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 60px;
  line-height: 60px;
  margin: 3px;

  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.35em;

  background-color: transparent;
}
